// your custom includes starts here
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.outline-secondary {
    color: #000000 !important;
    background-image: none;
    background-color: transparent;
    border-color: #E6E8E6 !important;
    border: 2px solid transparent;
    padding: 9px 16px;
}