<footer class="bg-secondary">
    <div class="container text-center">
        <div class="row center">
            <div class="col-md-6 footer-left-area">
          
                <h4 class="widget-title">RECENT POSTS</h4>
                <div class="spacer">&nbsp;</div>
                <div>
                    <div class="recent-posts first">
                        <div class="recent-post-content">
                            <h5 class="mb-0"><a href="#x" class="recent-post-title">IMAGE POST</a></h5>
                            <p class="text-sm mb-1">DESIGN</p>
                            <p class="text-sm opc-75 mb-0">23 SEP 2018</p>
                        </div><!-- / recent-post-content -->
                    </div><!-- / recent-posts -->
                </div>
                <div class="spacer">&nbsp;</div>

                <p>
                    {{ with .Site.Copyright | default .Site.Title }}&copy; {{ now.Format "2006"}} <span class="text-regular">{{ . | safeHTML }}</span> {{ end }}
                </p>
            </div>



            <div class="col-md-4 social-icons footer-right-area">
                <a href="#x"><i class="fab fa-facebook-f"></i></a>
                <a href="#x"><i class="fab fa-twitter"></i></a>
                <a href="#x"><i class="fab fa-instagram"></i></a>
            </div><!-- / social-icons -->
        </div><!-- / row -->
    </div><!-- / container -->
</footer>