<footer style="background-color: #777a8f;">
    <div class="container text-center">
        <div class="row vcenter">
            <div class="col-md-8 footer-left-area">
                <p class="text-sm">© 2022 <span class="text-regular">Zachary DiNucci</a>.</p>
            </div>
            <div class="col-md-4 social-icons footer-right-area">
                <a style="color: black;" href="https://www.linkedin.com/in/zachary-dinucci/"><i class="fab fa-linkedin" style="font-size: 1.5rem;"></i></a>
                <a style="color: black;" href="https://github.com/ZacharyDiNucci"><i class="fab fa-github" style="font-size: 1.5rem;"></i></a>
                <a style="color: black;" href="https://zachary-dinucci.itch.io/"><i class="fab fa-itch-io" style="font-size: 1.5rem;"></i></a>
            </div><!-- / social-icons -->
        </div><!-- / row -->
    </div><!-- / container -->
</footer>