<footer class="secondary">
    <div class="container text-center">
        <div class="row vcenter">
            <div class="col-md-8 footer-left-area" >
                <p class="text-sm" style="color:white; font-size: 1.2rem;">©2022 Zachary DiNucci</p>
            </div>
            <div class="col-md-4 social-icons footer-right-area">
                <a href="/ZachDiNucciResume2023.pdf" class="btn btn-sm btn-outline-secondary rectangle mt-1  " style="color:black !important; background-color: white; font-size: 1rem;"> View Resume</a>
                <a href="/ZachStatBlock.pdf" class="btn btn-sm btn-outline-secondary rectangle mt-1  " style="color:black !important; background-color: white; font-size: 1rem;"> View My Stat Block</a>
            </div><!-- / social-icons -->
        </div><!-- / row -->
    </div><!-- / container -->
</footer>